{% extends 'base.html.twig' %}

{% block title %}Edit ForumComments{% endblock %}

{% block body %}
    <h1>Edit ForumComments</h1>

    {{ include('forum_comments/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('forum_comments/_delete_form.html.twig') }}
{% endblock %}
