{% extends "base.html.twig" %}

{% block body %}

    <div class="register-form-wrap">
        <div class="form shadow">
            <h2>Inscription</h2>
            {{ include('user/_form.html.twig') }}
        </div>
    </div>  

{% endblock %}
